[submodule "lib/p"]
	path = lib/p
	url = ../p
[submodule "lib/x"]
	path = lib/x
	url = ../x
[submodule "lib/anemone"]
	path = lib/anemone
	url = ../anemone
[submodule "lib/disorder"]
	path = lib/disorder
	url = ../disorder
